<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJSVUE</title>
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <div id="app" v-cloak>
    <hero></hero>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <vue-file-agent :uploadUrl="uploadUrl" v-model="fileRecords"></vue-file-agent>
        </div>
      </div>
      <div class="row">
        <div v-for="post in posts" class="col-lg-4 my-2">
          <div class="card w-100 h-100">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">POST ID: #{{ post.id}}</h6>
              <p class="card-text">{{ post.body }}</p>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link text-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/app.js"></script>
</body>

</html>